@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 15%;
    display: flex;
    border-radius: 5px;
}
a{
    text-decoration: none;
}

body{
    font-family: "poppins", sans-serif;
    background-color: #F9E0BB;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #C08261;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #FFC26F;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #c9bebe;
    z-index: -11;
}
header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
header .content h1{
    color: #C38154;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}
header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #C38154;
}
header .content p{
    margin-bottom: 2rem;
    color: #884A39;
}
header .image{
    position: relative;
}
header .image::before{

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;

    opacity: 0.2;
    z-index: -100;
}
header .image img{
    max-width: 600px;
    margin: auto;
}


