ol.circle {
  list-style: none;
  counter-reset: item;
}

ol.circle > li{
  counter-increment: item;
  margin-bottom: 5px;
}

ol.circle > li:before {
  margin-right: 10px;
  content: counter(item);
  background: #FF8A65;
  border-radius: 100%;
  color: white;
  width: 1.3em;
  text-align: center;
  display: inline-block;
}
