@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
    background: #F9E0BB; 
   font-family: "Poppins", sans-serif;
      
  }
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: "Poppins", sans-serif;
}
.form {
  position: relative;
  z-index: 1;
  background: #C38154;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius:8px;

}
.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 3px;
}
.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #EAC696;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 20px;
  text-decoration:none;
}










